.create-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
  padding: 12px;
  width: 86.05vw;
}

.content {
  padding: 2%;
}

.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}

.toolbar-class {
  border: 1px solid #ccc;
}

.p{
  flex-grow: 1;
  width: 100%;
}
.preview {
  padding: 1rem;
  margin-top: 1rem;
}

.name {
  margin: 0 !important;
}

.editorpage-content h1 {
  position: relative;
  margin-bottom: 1%;
}

.editorpage-content h1::after {
  content: '';
  display: flex;
  border-bottom: 4px solid #009edc;
  position: relative;
  top: 4px;
}

.public-DraftStyleDefault-block {
  margin: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-container {
  display: flex;
}

.button-container {
  display: flex;
}

.edit-button {
  padding: 8px 16px;
  margin-right: 8px; /* Add margin between the buttons */
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editorpage-content {
  display: flex;
  flex-direction: column;
}

.align-left {
  text-align: start;
}

.page-content {
  display: block;
  text-align: start;
  word-wrap: break-word;
}

.editor-container .editor-class {
  flex: 1; /* Take up remaining space */
  margin-right: 20px; /* Adjust margin as needed */
}

.editor-container .page-content {
  flex: 0 0 auto; /* Don't grow, don't shrink, maintain initial size */
}